
.responceMessStyle{

height: 30px;

}

.notify_error{

}
.apptha-outofstock-block-body {
background-color: #EEE;
font-size: 13px;
padding:10px 15px ;

}


.bmargin10 {
margin-bottom: 10px;
}
.tmargin10 {
margin-top: 10px;
}
.notify-button-blue {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3881A7), to(#245A77));
background-color: #245A77;
border-bottom-left-radius: 4px 4px;
border-bottom-right-radius: 4px 4px;
border: 0px;
border-top-left-radius: 4px 4px;
border-top-right-radius: 4px 4px;
color: white !important;
cursor: pointer;
display: inline-block;
font-family: tahoma, verdana, arial, sans-serif;
font-size: 13px;
font-weight: bold;
line-height: normal !important;
padding: 5px 15px;
text-decoration: none;
text-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 1px;
zoom: 1;
}
.ajaxreloadimage{

background-image: url('ajax-loader.gif');
background-repeat: no-repeat;
float: right;
height: 16px;
margin-top: 4px;
width: 34px;
display: none;
}
#outsubscribersTable{ border-collapse: collapse; border: 1px solid #ccc; }
#outsubscribersTable th{ padding: 5px; text-align: left; font-weight: bold; font-size: 13px; border-right: 1px solid #ccc; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; background: url(../images/bkg_th.gif) repeat-x 0 100% #d9e5ee; }
#outsubscribersTable  td{ text-align: left; padding:8px; border-right: 1px solid #ccc; font-size: 12px;}
#outsubscribersTable tr td img{float:left; padding:10px; background-color:#fff; border: solid 1px #ccc; padding: 5px;}
#outsubscribersTable .prdname {font-weight: bold; padding:10px 0 0 5px}
#outsubscribersTable .subscrib {font-weight: bold; padding:10px 0 0 6px}
#outsubscribersTable .del {font-weight: bold; padding:10px 0 0 5px}
#outsubscribersTable .odd{background-color:#efefef; border-bottom: 1px solid #ccc;}
#outsubscribersTable  .no-record td { text-align:center; font-weight:bold; border: none; }
.powered_by1 { text-align: center; padding: 10px; }